[Desktop Entry]
Type=Application
Name=Gati Clicker
Comment=¡Tienes que clickear al gatito!
Exec=gati-clicker-1.0
Icon=gati-clicker
Terminal=false
Categories=Game;ArcadeGame;
StartupNotify=true
StartupWMClass=gati-clicker
